*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Hind Siliguri', sans-serif;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* Alcune proprietà si ripetono, il codice non è pulitissimo, ma dopo ore di codice questo è il massimo che la mia mente riesce ad elaborare xd */

                        /* '''''Eventi'''' se così si possono chiamare  */

li:hover{
    border-bottom: 2px solid green;
    border-left: 2px solid green;
    border-right: 2px solid green;
}

button:hover{
    background-color: tomato;
}

section span:hover{
    color: tomato;
}

a:active {
    color: red;
  }                
  
.help:hover{
    background-color: tomato;
}

h4:hover{
    color: #7CBB02;
    cursor: pointer;
}

a:visited{
    text-decoration: none; 
    color: green;
}


                        /* FINE 'Eventi' */



.container{   /* Contenitore generale nell'HTML viene ripetuto per TRE volte */
    max-width: 85%;
    margin:  auto;
    height: 100%;
} 

header{
    background-color: #0C325A;
    height: 430px;
}

.background_image{
    background-image: url('https://cdn.fluentify.com/bundles/fluentifypublic/images/r4b/01/oldman.png');
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 40px;
}

.logo, ul{
    display: inline-block;
}

li,button,section span{
    cursor: pointer;
}

li{
    display: inline-block;
    padding: 7px;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}

li:last-child{
    margin-left: 42px;
}
.logo img{
    width: 180px;
    padding: 15px 20px;
    vertical-align: middle;
}

section span{
    border: 1.5px solid;
    padding: 12px 25px;
    border-radius: 5px;
    margin-left: 10px;
    text-transform: uppercase;
    color: white;
}

section button{
    color: white;
    background: #7CBB02;
    border: 0;
    padding: 13px 20px;
    border-radius: 9px;
    font-size: 16px;
    margin-left: 3px;
}

section h1{
    color: white;
    margin-bottom: 12px;
    margin-top: 30px;
    margin-left: 26px;
    font-size: 32px;
}

#sotto{
    margin-left: 28px;
}

hr{
    margin-top: 80px;
}

/* ================== Inizio MAIN ================*/


main{
    /* height: 1000px; */
    /* background-color: rgb(191, 191, 101); */
}

.presentazione{
    height: 100px;
    background-color: #4F82B5;
    text-align: center;
    line-height: calc(30px / 1);
    padding-top: 20px;
}

.presentazione div:first-child{
    font-weight: bold;
    font-size: 23px;
    color: #F1F4EA;
}

.presentazione div:last-child{
    color: #F1F4EA;
}

.row.clearfix{
    height: 550px;
    margin-top: 40px;
}

.row .col_first{
    width: 33.333%;
    background: white;
    height: 450px;
    float: left;
}

.col_first img{
    height: 250px;
    margin-left: 25%;
    margin-top: 30px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#secondo_img, #terzo_img{
    margin-left: 77px;
}

.col_first p{
    text-align: center;
    width: 70%;
    margin-left: 20%;
    margin-top: 20px;
}

.col_first div{
    margin-left: 25%;
    font-size: 20px;
    color: green;
    font-weight: bold;
}



#modifica1{
    padding-left: 100px;
}

#modifica2{
    padding-left: 20px
}

#modifica3{
    padding-left: 66px
}

.omino{
    width: 50%;
    height: 500px;
    background: white;
    float: left;
    position: relative;
}

.omino img{
    height: 401px;
    position: absolute;
    left: 25%;
    top: 20%;
}

.second .col_second{
    width: 50%;
    height: 400px;
    background: white;
    float: left;
    position: relative;
}

.col_second div{
    width: 45%;
    position: absolute;
    bottom: 50px;
    left: 15%;
}

.col_second div h3{
    font-size: 30px;
    padding-bottom: 13px;
}

/* ================== Inizio FOOTER ================*/

footer{
    height: 100px;
    background-color: #4F82B5;;
}

h4{
    color: #F1F4EA;
}

select{
    cursor: pointer;
}

footer div:first-child{
    width: 50%;
    text-align: center;
    font-size: 23px;
    line-height: 100px;
    float: left;
}

footer div:last-child{
    width: 50%;
    float: left;
    text-align: center;
    line-height: 100px;
}

footer button{
    color: white;
    background: #7CBB02;
    border: 0;
    padding: 12px 12px;
    border-radius: 22px;
    font-size: 14px;
    margin-left: 32px;
}

div>span{
    color: #F1F4EA;
}

.help{
    position: fixed;
    bottom: 10px;
    left: 90%;
    background-color: #7CBB02;
    width: 70px;
    text-align: center;
    height: 70px;
    line-height: 70px;
    border-radius: 15px;
}

.help a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.container_footer{
    height: 100%;
    width: 85% !important;
    margin-left: 7.5%;
}